- 
    const customersList = [
        {
        "name": "Jane Cooper",
        "company": "Microsoft",
        "phone": "(225) 555-0118",
        "email": "jane@microsoft.com",
        "country": "United States",
        "status": "Active"
        },
        {
        "name": "Floyd Miles",
        "company": "Yahoo",
        "phone": "(205) 555-0100",
        "email": "floyd@yahoo.com",
        "country": "Kiribati",
        "status": "Inactive"
        },
        {
        "name": "Ronald Richards",
        "company": "Adobe",
        "phone": "(302) 555-0107",
        "email": "ronald@adobe.com",
        "country": "Israel",
        "status": "Inactive"
        },
        {
        "name": "Marvin McKinney",
        "company": "Tesla",
        "phone": "(252) 555-0126",
        "email": "marvin@tesla.com",
        "country": "Iran",
        "status": "Active"
        },
        {
        "name": "Jerome Bell",
        "company": "Google",
        "phone": "(629) 555-0129",
        "email": "jerome@google.com",
        "country": "Réunion",
        "status": "Active"
        },
        {
        "name": "Kathryn Murphy",
        "company": "Microsoft",
        "phone": "(406) 555-0120",
        "email": "kathryn@microsoft.com",
        "country": "Curaçao",
        "status": "Active"
        },
        {
        "name": "Jacob Jones",
        "company": "Yahoo",
        "phone": "(208) 555-0112",
        "email": "jacob@yahoo.com",
        "country": "Brazil",
        "status": "Active"
        },
        {
        "name": "Kristin Watson",
        "company": "Facebook",
        "phone": "(704) 555-0127",
        "email": "kristin@facebook.com",
        "country": "Åland Islands",
        "status": "Incative"
        },
        {
        "name": "John Smith",
        "company": "Microsoft",
        "phone": "(225) 359-1218",
        "email": "john@microsoft.com",
        "country": "Canada",
        "status": "Active"
        },
        {
        "name": "Lena Adams",
        "company": "Apple",
        "phone": "(123) 555-0123",
        "email": "lena@apple.com",
        "country": "Germany",
        "status": "Active"
        },
        {
        "name": "Samuel Lee",
        "company": "Amazon",
        "phone": "(456) 555-0456",
        "email": "samuel@amazon.com",
        "country": "United Kingdom",
        "status": "Active"
        },
        {
        "name": "Emily White",
        "company": "Google",
        "phone": "(789) 555-0789",
        "email": "emily@google.com",
        "country": "Australia",
        "status": "Inactive"
        },
        {
        "name": "Daniel Kim",
        "company": "Facebook",
        "phone": "(987) 555-0987",
        "email": "daniel@facebook.com",
        "country": "South Korea",
        "status": "Active"
        },
        {
        "name": "Sophia Chen",
        "company": "Microsoft",
        "phone": "(654) 555-0654",
        "email": "sophia@microsoft.com",
        "country": "Canada",
        "status": "Active"
        },
        {
        "name": "Oliver Rodriguez",
        "company": "Tesla",
        "phone": "(321) 555-0321",
        "email": "oliver@tesla.com",
        "country": "Mexico",
        "status": "Inactive"
        },
        {
        "name": "Isabella Wong",
        "company": "Adobe",
        "phone": "(246) 555-0246",
        "email": "isabella@adobe.com",
        "country": "Singapore",
        "status": "Active"
        },
        {
        "name": "Ethan Patel",
        "company": "Yahoo",
        "phone": "(135) 555-0135",
        "email": "ethan@yahoo.com",
        "country": "India",
        "status": "Active"
        },
        {
        "name": "Ava Johnson",
        "company": "Twitter",
        "phone": "(753) 555-0753",
        "email": "ava@twitter.com",
        "country": "Brazil",
        "status": "Inactive"
        }
    ]


- 
    const 
        pages = ["<", "1", "2", "3", "4", ">"]