div.container 
    div.container__wrapper
        p.container__text Hello Evano
        img.container__image(src="../images/hand.webp")
        span.container__text ,
    button.menu-toggle.js-open-menu(type="button" aria-expanded="false" aria-controls="mobile-menu" aria-label="open mobile menu button")
        svg.container__icon(aria-label="burger button icon")
            use(href="../images/sprite.svg#icon-burger")
    //- div.menu-container.js-menu-container#mobile-menu
    //-     button.menu-toggle.js-close-menu(type="button" aria-expanded="false" aria-controls="mobile-menu" aria-label="close mobile menu button")
    //-         svg.container__icon(aria-label="burger button icon")
    //-             use(href="../images/sprite.svg#icon-close")

    //-     nav.menu-nav.js-mobile-menu
    //-         ul 
    //-             li 
    //-                 a(href="index.html") Dashboard
    //-             li 
    //-                 a(href="product.html") Product
    //-             li 
    //-                 a(href="customers.html") Customers
