div.mobile__container.js-mobile-menu#mobile-menu
    button.mobile__button(type="button"  class="js-open-menu" aria-expanded="false" aria-controls="mobile-menu" aria-label="open mobile menu button")
        svg.mobile__icon(aria-label="burger button icon")
            use(href="../images/sprite.svg#icon-close")

    nav.menu-nav.js-mobile-menu
       