aside.sidebar 
    div
        header.header
            svg.header__icon(aria-label="dashboard logo")
                use(href="images/sprite.svg#icon-logo")
            h1.header__title Dashboard 
                span.header__span v.01 
        nav.navbar 
            ul.navbar__list 
                li.navbar__item#dashboard-link
                    a.navbar__link(href="index.html" aria-label="link to dashboard page") 
                        div.navbar__wrapper
                            svg.navbar__icon(style={fill: "none"} aria-label="dashboard icon")
                                use(href="images/sprite.svg#icon-dashboard")
                            span.navbar__text Dashboard  
                li.navbar__item#product-link
                    a.navbar__link(href="product.html" aria-label="link to product page")
                        div.navbar__wrapper
                            svg.navbar__icon(style={stroke: "none"} aria-label="product icon")
                                use(href="images/sprite.svg#icon-product")
                            span.navbar__text Product
                        svg.navbar__icon(style={fill: "none", width: "16px", height: "16px"} aria-label="arrow icon")
                            use(href="images/sprite.svg#icon-arrow-right")
                li.navbar__item#customer-link
                    a.navbar__link(href="customers.html" aria-label="link to customers page")
                        div.navbar__wrapper
                            svg.navbar__icon(style={fill: "none"} aria-label="customer icon")
                                use(href="images/sprite.svg#icon-customer")
                            span.navbar__text Customers
                        svg.navbar__icon(style={fill: "none", width: "16px", height: "16px"} aria-label="arrow icon")
                            use(href="images/sprite.svg#icon-arrow-right")
                li.navbar__item#income-link
                    a.navbar__link(href="income.html" aria-label="link to income page")
                        div.navbar__wrapper
                            svg.navbar__icon(style={fill: "none"} aria-label="income icon")
                                use(href="images/sprite.svg#icon-income")
                            span.navbar__text Income
                        svg.navbar__icon(style={fill: "none", width: "16px", height: "16px"} aria-label="arrow icon")
                            use(href="images/sprite.svg#icon-arrow-right")
                li.navbar__item#promote-link
                    a.navbar__link(href="promote.html" aria-label="link to promote page")
                        div.navbar__wrapper
                            svg.navbar__icon(style={stroke: "none"} aria-label="promote icon")
                                use(href="images/sprite.svg#icon-promote")
                            span.navbar__text Promote
                        svg.navbar__icon(style={fill: "none", width: "16px", height: "16px"} aria-label="arrow icon")
                            use(href="images/sprite.svg#icon-arrow-right")
                li.navbar__item#help-link
                    a.navbar__link(href="help.html" aria-label="link to help page")
                        div.navbar__wrapper
                            svg.navbar__icon(style={stroke: "none"} aria-label="help icon")
                                use(href="images/sprite.svg#icon-help")
                            span.navbar__text Help 
                        svg.navbar__icon(style={fill: "none", width: "16px", height: "16px"} aria-label="arrow icon")
                            use(href="images/sprite.svg#icon-arrow-right")
    div.account
        img.accout__img(src="images/img.webp")
        div.account__info 
            p.account__title Evano 
            p.account__subtitle Project Manager