div.sidebar 
    h1 Dashboard 
    span v.01 
    nav.navbar 
        ul.navbar__list 
            li.navbar__item
                a(href="index.html") Dashboard
            li.navbar__item
                a(href="product.html") Product
            li.navbar__item
                a(href="customers.html") Customers
            li.navbar__item
                a(href="income.html") Income
            li.navbar__item
                a(href="promote.html") Promote
            li.navbar__item
                a(href="help.html") Help
    .account 
        p.account__title Evano 
        p.account__subtitle Project Manager